p {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: black;
    word-wrap: break-word;
}

p.long {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: black;
    word-wrap: break-word;
}

.grey {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #888A8D;
    word-wrap: break-word;
}

h2 {
    font-family: Helvetica;
    font-size: 22px;
    line-height: 18px;
    font-weight: 300;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #999B9F;
}

body {
    background-color: #F1F3F5;
    margin: 0;
    padding: 32px;
  }
 
